workflows/2-kdp-content-production-GITHUB-SIMPLE.json
{
  "name": "KDP Content Production (GitHub - Simple)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "niche",
              "name": "niche",
              "value": "Keto Diet for Beginners",
              "type": "string"
            },
            {
              "id": "book_id",
              "name": "book_id",
              "value": "={{ $now.format('yyyyMMdd-HHmmss') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "2",
      "name": "Set Niche (EDIT THIS)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional KDP book outliner with 10+ years of experience.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a detailed 12-chapter book outline for: {{ $json.niche }}. Include chapter titles and brief descriptions.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2000\n}",
        "options": {}
      },
      "id": "3",
      "name": "Generate Outline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "outline",
              "name": "outline",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "niche",
              "name": "niche",
              "value": "={{ $('Set Niche (EDIT THIS)').item.json.niche }}",
              "type": "string"
            },
            {
              "id": "book_id",
              "name": "book_id",
              "value": "={{ $('Set Niche (EDIT THIS)').item.json.book_id }}",
              "type": "string"
            },
            {
              "id": "chapters",
              "name": "chapters",
              "value": "=[1,2,3,4,5,6,7,8,9,10,11,12]",
              "type": "array"
            }
          ]
        }
      },
      "id": "4",
      "name": "Store Outline",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "chapters",
        "options": {}
      },
      "id": "5",
      "name": "Split Into 12 Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional KDP author who writes engaging, valuable content.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write Chapter {{ $json.chapters }} for a book about {{ $json.niche }}.\\n\\nBook Outline: {{ $json.outline }}\\n\\nRequirements:\\n- 1,500-2,000 words\\n- 4-6 subsections with headers\\n- Practical examples\\n- Key takeaways at end\\n- Conversational tone\\n\\nWrite the complete chapter now.\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 3000\n}",
        "options": {}
      },
      "id": "6",
      "name": "Generate Chapter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chapter_number",
              "name": "chapter_number",
              "value": "={{ $('Split Into 12 Items').item.json.chapters }}",
              "type": "number"
            },
            {
              "id": "chapter_content",
              "name": "chapter_content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "7",
      "name": "Format Chapter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "8",
      "name": "Combine All Chapters",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "jsCode": "const allChapters = $input.all();\nconst bookData = $('Store Outline').first().json;\n\nlet manuscript = `${bookData.niche}\\nComplete Beginner's Guide\\n\\n`;\nmanuscript += `═══════════════════════════════════════\\n\\n`;\nmanuscript += `Copyright © ${new Date().getFullYear()}\\n\\n`;\nmanuscript += `AI Generated Content - Review and edit before publishing\\n`;\nmanuscript += `✅ Remember to check AI disclosure box on KDP\\n\\n`;\nmanuscript += `═══════════════════════════════════════\\n\\n`;\n\n// Sort chapters by number\nconst sortedChapters = allChapters.sort((a, b) => a.json.chapter_number - b.json.chapter_number);\n\nsortedChapters.forEach((item) => {\n  manuscript += `\\n\\nCHAPTER ${item.json.chapter_number}\\n\\n`;\n  manuscript += item.json.chapter_content;\n  manuscript += `\\n\\n═══════════════════════════════════════\\n\\n`;\n});\n\nmanuscript += `\\n\\nCONCLUSION\\n\\nCongratulations on completing this guide! Start implementing what you've learned today.\\n\\n`;\n\nconst fileName = `${bookData.book_id}_${bookData.niche.replace(/[^a-z0-9]/gi, '_')}.txt`;\nconst githubPath = `books/${fileName}`;\n\nreturn {\n  json: {\n    book_id: bookData.book_id,\n    title: bookData.niche + ' - Complete Guide',\n    niche: bookData.niche,\n    file_path: githubPath,\n    word_count: manuscript.split(' ').length,\n    manuscript: manuscript\n  }\n};"
      },
      "id": "9",
      "name": "Compile Book",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $json.file_path }}",
        "fileContent": "={{ $json.manuscript }}",
        "commitMessage": "=Add book: {{ $json.title }} ({{ $json.word_count }} words)",
        "additionalParameters": {}
      },
      "id": "10",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2220, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{"node": "Set Niche (EDIT THIS)", "type": "main", "index": 0}]]
    },
    "Set Niche (EDIT THIS)": {
      "main": [[{"node": "Generate Outline", "type": "main", "index": 0}]]
    },
    "Generate Outline": {
      "main": [[{"node": "Store Outline", "type": "main", "index": 0}]]
    },
    "Store Outline": {
      "main": [[{"node": "Split Into 12 Items", "type": "main", "index": 0}]]
    },
    "Split Into 12 Items": {
      "main": [[{"node": "Generate Chapter", "type": "main", "index": 0}]]
    },
    "Generate Chapter": {
      "main": [[{"node": "Format Chapter", "type": "main", "index": 0}]]
    },
    "Format Chapter": {
      "main": [[{"node": "Combine All Chapters", "type": "main", "index": 0}]]
    },
    "Combine All Chapters": {
      "main": [[{"node": "Compile Book", "type": "main", "index": 0}]]
    },
    "Compile Book": {
      "main": [[{"node": "Commit to GitHub", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
