workflows/2-kdp-fiction-content-generation.json
{
  "name": "KDP Fiction Content Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// EDIT YOUR BOOK CONCEPT HERE\n// ========================================\n\nconst book_concept = \"A forbidden romance between a mortal alchemist who can manipulate metals and a Fae prince exiled from his court. When she accidentally binds his magic to hers, they must work together to break the curse before it kills them both.\";\n\nconst genre = \"Romance/Fantasy (Romantasy)\";\n\nconst target_words = 18000;\n\n// ========================================\n// DON'T EDIT BELOW THIS LINE\n// ========================================\n\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').substring(0, 19);\n\nreturn {\n  json: {\n    book_concept: book_concept,\n    genre: genre,\n    target_words: target_words,\n    book_id: timestamp\n  }\n};"
      },
      "id": "2",
      "name": "Set Book Concept (EDIT THIS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a bestselling fiction author specializing in ' + $json.genre + '. You create compelling stories with strong character development, emotional depth, and page-turning plots.'\n    },\n    {\n      role: 'user',\n      content: 'Create a detailed story outline for a ' + $json.genre + ' novel with this concept:\\n\\n' + $json.book_concept + '\\n\\nProvide:\\n\\n1. MAIN CHARACTERS (3-4 characters with names, descriptions, motivations, conflicts)\\n\\n2. SETTING (World, time period, key locations)\\n\\n3. PLOT STRUCTURE:\\n   - Opening Hook\\n   - Inciting Incident\\n   - Rising Action (3-4 key scenes)\\n   - Climax\\n   - Resolution\\n\\n4. CHAPTER BREAKDOWN (10 chapters with brief scene descriptions)\\n\\n5. KEY THEMES\\n\\n6. EMOTIONAL BEATS (What readers should feel at each stage)\\n\\nMake it compelling and commercial. This should feel like a bestseller.'\n    }\n  ],\n  temperature: 0.8,\n  max_tokens: 3000\n} }}",
        "options": {}
      },
      "id": "3",
      "name": "Generate Story Outline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Get the outline from OpenAI response\nconst openaiResponse = $input.item.json;\nconst outline = openaiResponse.choices[0].message.content;\n\n// Get the original book concept data\nconst conceptData = $('Set Book Concept (EDIT THIS)').item.json;\n\n// Create chapters array\nconst chapters = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];\n\n// Return all data needed for chapter generation\nreturn chapters.map(chapterNum => ({\n  json: {\n    outline: outline,\n    book_concept: conceptData.book_concept,\n    genre: conceptData.genre,\n    target_words: conceptData.target_words,\n    book_id: conceptData.book_id,\n    chapters: chapterNum\n  }\n}));"
      },
      "id": "4",
      "name": "Store Outline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5",
      "name": "Loop Over Chapters",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a bestselling ' + $json.genre + ' author. Write vivid, emotionally engaging prose with strong dialogue, sensory details, and compelling character voices. Show, don\\'t tell. Create tension and chemistry.'\n    },\n    {\n      role: 'user',\n      content: 'Write Chapter ' + $json.chapters + ' of this ' + $json.genre + ' novel.\\n\\nBOOK CONCEPT: ' + $json.book_concept + '\\n\\nSTORY OUTLINE:\\n' + $json.outline + '\\n\\nREQUIREMENTS:\\n- 1,800-2,000 words\\n- Strong opening hook\\n- Vivid sensory details\\n- Natural dialogue\\n- Show character emotions through action and internal thoughts\\n- End with a hook that makes readers want to continue\\n- Match the tone and style of bestselling ' + $json.genre + ' novels\\n\\nWrite the complete chapter now. Make it compelling and page-turning.'\n    }\n  ],\n  temperature: 0.9,\n  max_tokens: 3500\n} }}",
        "options": {}
      },
      "id": "6",
      "name": "Generate Chapter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "// Get chapter content from OpenAI response\nconst openaiResponse = $input.item.json;\nconst chapterContent = openaiResponse.choices[0].message.content;\n\n// Get the chapter number from Store Outline using item index\nconst allOriginalData = $('Store Outline').all();\nconst chapterNumber = allOriginalData[$itemIndex].json.chapters;\n\nreturn {\n  json: {\n    chapter_number: chapterNumber,\n    chapter_content: chapterContent\n  }\n};"
      },
      "id": "7",
      "name": "Format Chapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "// CHECK IF LOOP COMPLETED - This fires after splitInBatches completes all items\nconst allChapters = $input.all();\n\n// Get context from Loop node to verify completion\nconst context = this.getContext('splitInBatches');\nconst batchesComplete = context?.itemsProcessed || 0;\n\nconsole.log(`Loop status: ${batchesComplete} chapters processed`);\nconsole.log(`Received ${allChapters.length} formatted chapters`);\n\n// Verify we have all 10 chapters\nif (allChapters.length < 10) {\n  throw new Error(`Loop incomplete: Only ${allChapters.length}/10 chapters ready. Expected all 10 before compiling.`);\n}\n\nconsole.log('✅ All 10 chapters complete! Proceeding to compile manuscript.');\n\n// Pass all chapters through\nreturn allChapters;"
      },
      "id": "8",
      "name": "Check All Chapters Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "jsCode": "const allChapters = $input.all();\n\n// Get book data from the first Store Outline item (all have same book info)\nconst storeOutlineData = $('Store Outline').all();\nconst bookData = storeOutlineData[0].json;\n\n// Sort chapters by number\nconst sortedChapters = allChapters.sort((a, b) => a.json.chapter_number - b.json.chapter_number);\n\n// Create title from concept\nconst conceptWords = bookData.book_concept.split(' ');\nconst titleWords = conceptWords.slice(0, 5).join(' ');\nconst bookTitle = titleWords.length > 50 ? conceptWords.slice(0, 3).join(' ') : titleWords;\n\nlet manuscript = `${bookTitle}\\n`;\nmanuscript += `A ${bookData.genre} Novel\\n\\n`;\nmanuscript += `═══════════════════════════════════════\\n\\n`;\nmanuscript += `Copyright © ${new Date().getFullYear()}\\n\\n`;\nmanuscript += `This is a work of fiction. Names, characters, places, and incidents either are the product of the author's imagination or are used fictitiously.\\n\\n`;\nmanuscript += `⚠️ AI GENERATED CONTENT - REQUIRES EDITING\\n`;\nmanuscript += `Next steps:\\n`;\nmanuscript += `1. Send to Upwork editor for polish\\n`;\nmanuscript += `2. Editor will improve dialogue, pacing, character depth\\n`;\nmanuscript += `3. Review and approve final version\\n`;\nmanuscript += `4. Check AI disclosure box on KDP when publishing\\n\\n`;\nmanuscript += `═══════════════════════════════════════\\n\\n`;\n\nsortedChapters.forEach((item) => {\n  manuscript += `\\n\\nCHAPTER ${item.json.chapter_number}\\n\\n`;\n  manuscript += item.json.chapter_content;\n  manuscript += `\\n\\n`;\n});\n\nconst wordCount = manuscript.split(/\\s+/).length;\nconst fileName = `${bookData.book_id}_fiction_${bookData.genre.replace(/[^a-z0-9]/gi, '_')}.txt`;\nconst githubPath = `books/manuscripts/${fileName}`;\n\nreturn {\n  json: {\n    book_id: bookData.book_id,\n    title: bookTitle,\n    genre: bookData.genre,\n    concept: bookData.book_concept,\n    file_path: githubPath,\n    word_count: wordCount,\n    chapter_count: sortedChapters.length,\n    manuscript: manuscript,\n    outline: bookData.outline,\n    status: 'DRAFT - Ready for Upwork editor',\n    next_steps: [\n      'Post job on Upwork: Edit and improve AI-generated fiction manuscript',\n      'Budget: $50-200 depending on depth of editing needed',\n      'Provide both manuscript and outline to editor',\n      'Editor should focus on: dialogue, character depth, pacing, emotional impact',\n      'After editing: generate cover with Workflow 3',\n      'Launch strategy: Free → Reviews → Price'\n    ]\n  }\n};"
      },
      "id": "9",
      "name": "Compile Manuscript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $json.file_path }}",
        "fileContent": "={{ $json.manuscript }}",
        "commitMessage": "=Add fiction manuscript: {{ $json.title }} ({{ $json.word_count }} words, {{ $json.genre }})",
        "additionalParameters": {}
      },
      "id": "10",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2220, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{"node": "Set Book Concept (EDIT THIS)", "type": "main", "index": 0}]]
    },
    "Set Book Concept (EDIT THIS)": {
      "main": [[{"node": "Generate Story Outline", "type": "main", "index": 0}]]
    },
    "Generate Story Outline": {
      "main": [[{"node": "Store Outline", "type": "main", "index": 0}]]
    },
    "Store Outline": {
      "main": [[{"node": "Loop Over Chapters", "type": "main", "index": 0}]]
    },
    "Loop Over Chapters": {
      "main": [
        [{"node": "Generate Chapter", "type": "main", "index": 0}],
        [{"node": "Check All Chapters Complete", "type": "main", "index": 0}]
      ]
    },
    "Generate Chapter": {
      "main": [[{"node": "Format Chapter", "type": "main", "index": 0}]]
    },
    "Format Chapter": {
      "main": [[{"node": "Loop Over Chapters", "type": "main", "index": 0}]]
    },
    "Check All Chapters Complete": {
      "main": [[{"node": "Compile Manuscript", "type": "main", "index": 0}]]
    },
    "Compile Manuscript": {
      "main": [[{"node": "Commit to GitHub", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
