workflows/2-kdp-fiction-SIMPLE-WORKING.json
{
  "name": "KDP Fiction Generation (SIMPLE WORKING)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// EDIT YOUR BOOK CONCEPT HERE\nconst book_concept = \"A forbidden romance between a mortal alchemist who can manipulate metals and a Fae prince exiled from his court. When she accidentally binds his magic to hers, they must work together to break the curse before it kills them both.\";\nconst genre = \"Romance/Fantasy (Romantasy)\";\nconst target_words = 18000;\n\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').substring(0, 19);\n\nreturn {\n  json: {\n    book_concept: book_concept,\n    genre: genre,\n    target_words: target_words,\n    book_id: timestamp\n  }\n};"
      },
      "id": "2",
      "name": "Set Book Concept",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a bestselling fiction author specializing in ' + $json.genre + '. You create compelling stories with strong character development, emotional depth, and page-turning plots.'\n    },\n    {\n      role: 'user',\n      content: 'Create a detailed story outline for a ' + $json.genre + ' novel with this concept:\\n\\n' + $json.book_concept + '\\n\\nProvide:\\n\\n1. MAIN CHARACTERS (3-4 characters)\\n2. SETTING\\n3. PLOT STRUCTURE\\n4. CHAPTER BREAKDOWN (10 chapters with brief scene descriptions)\\n5. KEY THEMES\\n\\nMake it compelling and commercial.'\n    }\n  ],\n  temperature: 0.8,\n  max_tokens: 3000\n} }}",
        "options": {}
      },
      "id": "3",
      "name": "Generate Outline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Create 10 chapter items with all needed data\nconst outline = $input.item.json.choices[0].message.content;\nconst conceptData = $('Set Book Concept').item.json;\n\nconst chapters = [];\nfor (let i = 1; i <= 10; i++) {\n  chapters.push({\n    json: {\n      chapter_number: i,\n      outline: outline,\n      book_concept: conceptData.book_concept,\n      genre: conceptData.genre,\n      book_id: conceptData.book_id\n    }\n  });\n}\n\nreturn chapters;"
      },
      "id": "4",
      "name": "Create Chapter Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a bestselling ' + $json.genre + ' author. Write vivid, emotionally engaging prose with strong dialogue, sensory details, and compelling character voices.'\n    },\n    {\n      role: 'user',\n      content: 'Write Chapter ' + $json.chapter_number + ' of this ' + $json.genre + ' novel.\\n\\nBOOK CONCEPT: ' + $json.book_concept + '\\n\\nSTORY OUTLINE:\\n' + $json.outline + '\\n\\nREQUIREMENTS:\\n- 1,800-2,000 words\\n- Strong opening hook\\n- Vivid sensory details\\n- Natural dialogue\\n- End with a hook\\n\\nWrite the complete chapter now.'\n    }\n  ],\n  temperature: 0.9,\n  max_tokens: 3500\n} }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "5",
      "name": "Generate Chapter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "// Format the chapter and preserve chapter number\n// Use $itemIndex to get the correct chapter number from original items\nconst originalItems = $('Create Chapter Items').all();\nconst chapterNumber = originalItems[$itemIndex].json.chapter_number;\nconst chapterContent = $input.item.json.choices[0].message.content;\n\nconsole.log(`Formatting Chapter ${chapterNumber}`);\n\nreturn {\n  json: {\n    chapter_number: chapterNumber,\n    chapter_content: chapterContent\n  }\n};"
      },
      "id": "6",
      "name": "Format Chapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "// COMPILE MANUSCRIPT - Only execute when all 10 chapters are ready\nconst allChapters = $input.all();\n\nconsole.log(`Compile Manuscript execution: ${allChapters.length} chapters available`);\n\n// CRITICAL: Only compile when we have ALL 10 chapters\n// If less than 10, return empty array (no output to GitHub)\nif (allChapters.length < 10) {\n  console.log('Waiting for more chapters...');\n  return [];  // Empty output prevents GitHub node from executing\n}\n\n// Validate we have exactly 10\nif (allChapters.length !== 10) {\n  throw new Error(`Expected 10 chapters, got ${allChapters.length}`);\n}\n\nconsole.log('All 10 chapters received! Compiling manuscript...');\n\nconst bookData = $('Create Chapter Items').first().json;\n\n// Sort by chapter number\nconst sorted = allChapters.sort((a, b) => a.json.chapter_number - b.json.chapter_number);\n\n// Create title\nconst words = bookData.book_concept.split(' ').slice(0, 5).join(' ');\n\nlet manuscript = `${words}\\nA ${bookData.genre} Novel\\n\\n`;\nmanuscript += `═══════════════════════════════════════\\n\\n`;\nmanuscript += `⚠️ AI GENERATED - REQUIRES EDITING\\n\\n`;\nmanuscript += `═══════════════════════════════════════\\n\\n`;\n\nsorted.forEach(item => {\n  manuscript += `\\n\\nCHAPTER ${item.json.chapter_number}\\n\\n`;\n  manuscript += item.json.chapter_content;\n  manuscript += `\\n\\n`;\n});\n\nconst wordCount = manuscript.split(/\\s+/).length;\nconst fileName = `${bookData.book_id}_fiction.txt`;\n\nconsole.log(`Manuscript compiled: ${wordCount} words`);\n\nreturn {\n  json: {\n    book_id: bookData.book_id,\n    file_path: `books/manuscripts/${fileName}`,\n    word_count: wordCount,\n    manuscript: manuscript\n  }\n};"
      },
      "id": "7",
      "name": "Compile Manuscript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $json.file_path }}",
        "fileContent": "={{ $json.manuscript }}",
        "commitMessage": "=Fiction manuscript: {{ $json.word_count }} words",
        "additionalParameters": {}
      },
      "id": "8",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1780, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{"node": "Set Book Concept"}]]
    },
    "Set Book Concept": {
      "main": [[{"node": "Generate Outline"}]]
    },
    "Generate Outline": {
      "main": [[{"node": "Create Chapter Items"}]]
    },
    "Create Chapter Items": {
      "main": [[{"node": "Generate Chapter"}]]
    },
    "Generate Chapter": {
      "main": [[{"node": "Format Chapter"}]]
    },
    "Format Chapter": {
      "main": [[{"node": "Compile Manuscript"}]]
    },
    "Compile Manuscript": {
      "main": [[{"node": "Commit to GitHub"}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
