workflows/3-kdp-cover-design-automation.json
{
  "name": "KDP Cover Design Automation",
  "nodes": [
    {
      "parameters": {
        "path": "book-cover-needed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook - Content Ready",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "cover-design-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Generate professional cover prompt based on niche\nconst bookData = $input.item.json;\nconst niche = bookData.niche || bookData.Niche;\n\n// Genre detection\nfunction detectGenre(nicheText) {\n  const lowerNiche = nicheText.toLowerCase();\n  \n  if (lowerNiche.includes('cookbook') || lowerNiche.includes('recipe') || lowerNiche.includes('food')) return 'cookbook';\n  if (lowerNiche.includes('business') || lowerNiche.includes('entrepreneur') || lowerNiche.includes('marketing')) return 'business';\n  if (lowerNiche.includes('self-help') || lowerNiche.includes('mindfulness') || lowerNiche.includes('productivity')) return 'selfhelp';\n  if (lowerNiche.includes('fiction') || lowerNiche.includes('novel') || lowerNiche.includes('story')) return 'fiction';\n  if (lowerNiche.includes('craft') || lowerNiche.includes('diy') || lowerNiche.includes('hobby')) return 'hobby';\n  return 'nonfiction';\n}\n\nconst genre = detectGenre(niche);\n\n// Professional prompts by genre\nconst promptTemplates = {\n  cookbook: \"Professional cookbook cover design, vibrant food photography, mouth-watering dish presentation, modern minimalist layout, clean typography, warm appetizing colors, high-end culinary magazine style, white background with food focus\",\n  business: \"Professional business book cover, corporate clean design, success imagery, modern geometric patterns, navy blue and gold color scheme, bold sans-serif typography, authoritative and trustworthy feel, bestseller quality\",\n  selfhelp: \"Inspiring self-help book cover, sunrise over mountains, peaceful empowering atmosphere, warm gradient colors (orange to blue), bold motivational typography, clean modern design, professional publishing quality, uplifting mood\",\n  fiction: \"Captivating fiction book cover, atmospheric mood, dramatic lighting, genre-appropriate imagery, commercial appeal, bestseller quality design, professional typography, cinematic feel\",\n  hobby: \"Attractive hobby/craft book cover, hands-on activity imagery, bright inviting colors, friendly approachable design, clear bold title, practical guidebook feel, inspiring and encouraging\",\n  nonfiction: \"Professional nonfiction book cover, clean modern design, relevant symbolic imagery, trustworthy color palette, clear hierarchy, authoritative typography, commercial publishing quality\"\n};\n\nconst basePrompt = promptTemplates[genre];\n\nconst finalPrompt = `Create a professional Amazon KDP book cover: ${niche} - Complete Beginner's Guide. ${basePrompt}. Dimensions: 1600x2560 pixels (portrait), high resolution, commercial quality, Amazon bestseller style, no text on image (text will be added separately).`;\n\nreturn {\n  json: {\n    ...bookData,\n    genre: genre,\n    cover_prompt: finalPrompt,\n    title_for_cover: bookData.title || `${niche} - Complete Beginner's Guide`\n  }\n};"
      },
      "id": "generate-prompt-002",
      "name": "Generate Cover Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "model": "dall-e-3",
        "prompt": "={{ $json.cover_prompt }}",
        "options": {
          "size": "portrait",
          "quality": "hd",
          "style": "natural"
        }
      },
      "id": "generate-cover-003",
      "name": "Generate Cover with DALL-E 3",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-image-004",
      "name": "Download Generated Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Note: This is a placeholder. In production, use sharp or jimp library\n// For now, we'll pass through and note that text overlay should be done externally\n\nconst bookData = $('Generate Cover Prompt').item.json;\nconst imageBuffer = $input.item.binary.data.data;\n\nconst fileName = `cover_${bookData.book_id || 'temp'}_${bookData.niche.replace(/[^a-z0-9]/gi, '_')}.jpg`;\n\nreturn {\n  json: {\n    ...bookData,\n    cover_filename: fileName,\n    note: 'Text overlay can be added using Canva or Photoshop with title: ' + bookData.title_for_cover\n  },\n  binary: {\n    data: Buffer.from(imageBuffer)\n  }\n};"
      },
      "id": "prepare-cover-005",
      "name": "Prepare Cover File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "upload",
        "name": "={{ $json.cover_filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_COVERS_FOLDER_ID",
          "cachedResultName": "KDP Covers"
        },
        "options": {}
      },
      "id": "upload-cover-006",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1",
          "mode": "list",
          "cachedResultName": "Books"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Book_ID": "={{ $json.book_id }}",
            "Cover_URL": "={{ $json.webViewLink }}",
            "Status": "cover_ready"
          }
        },
        "options": {}
      },
      "id": "update-database-007",
      "name": "Update Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "#kdp-production"
        },
        "text": "=🎨 **COVER DESIGNED!**\n\n*Book:* {{ $json.title_for_cover }}\n*Genre:* {{ $json.genre }}\n*File:* `{{ $json.cover_filename }}`\n\n📷 <{{ $json.webViewLink }}|View Cover in Drive>\n\n*Next Steps:*\n1. Add title text overlay (optional) 📝\n2. Generate metadata 🎯\n3. Prepare for KDP upload 📤\n\n*Note:* {{ $json.note }}",
        "otherOptions": {}
      },
      "id": "slack-notification-008",
      "name": "Slack - Cover Ready",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "=http://your-n8n-instance.com/webhook/metadata-needed",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "trigger-metadata-009",
      "name": "Trigger Metadata Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 480]
    }
  ],
  "connections": {
    "Webhook - Content Ready": {
      "main": [
        [
          {
            "node": "Generate Cover Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover Prompt": {
      "main": [
        [
          {
            "node": "Generate Cover with DALL-E 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover with DALL-E 3": {
      "main": [
        [
          {
            "node": "Download Generated Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Generated Image": {
      "main": [
        [
          {
            "node": "Prepare Cover File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cover File": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database": {
      "main": [
        [
          {
            "node": "Slack - Cover Ready",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Metadata Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "kdp-production",
      "name": "KDP Production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-03T10:00:00.000Z",
  "versionId": "v1.0.0"
}
